[2018-03-29 09:08] ansonliao opened #1 "cmd+enter发音不工作"
`cmd` + `enter` 发音不工作，出来的读音并不是查询到的读音，而是一个句子

[2018-03-30 01:44] xfslove commented on #1
@ansonliao 是的，这个workflow的发音确实是发出的选中内容的读音，并没有发出输入内容的读音

其实加一个item是输入内容就可以实现输入内容发音🙂，我只是觉得多一个输入内容的item有点重复，所以没有加

[2018-04-11 02:15] Hansoncoder opened #2 "如果是Shadowsock.如何配置让其支持sock5代理方式？"
现在都流行用SS来FQ上网，如果是SS，怎么配置代理来支持这个翻译？

[2018-04-12 01:26] xfslove commented on #2
@Hansoncoder 抱歉，目前并不支持sock5，不过如果是用的Shadowsocks，是带有http 代理的

如图：
<img width="480" alt="1" src="https://user-images.githubusercontent.com/7803346/38651306-168fe8ac-3e33-11e8-8423-0106dffd1510.png">

Shadowsocks默认使用[privoxy](http://www.privoxy.org)将sock5转成http的，如果Shadowsocks版本不支持也可以自己配置一个

[2018-04-16 01:12] #2 closed

[2018-05-09 03:57] hungry0 opened #3 "加了代理还是不能用"

[2018-05-10 01:34] xfslove commented on #3
@hungry0 需要workflow的环境变量里配置了代理地址

[2018-05-10 05:43] hungry0 commented on #3
![image](https://user-images.githubusercontent.com/13111009/39854008-1d60c7f6-5458-11e8-95b1-688bf34bea25.png)
是指这个吗，确实配了的

[2018-05-10 09:47] xfslove commented on #3
@hungry0 确定1087端口是http代理端口吗？

如果是用的Shadowsocks有如图的配置：
<img width="480" alt="qq20180510-174500 2x" src="https://user-images.githubusercontent.com/7803346/39863720-0b1ff0b8-547a-11e8-9d62-ebe6ba74b70e.png">

或者可以把你的配置贴出来

[2018-05-10 11:26] hungry0 commented on #3
<img width="990" alt="image" src="https://user-images.githubusercontent.com/13111009/39867541-f33cd5d4-5487-11e8-9f71-f5250e2b073e.png">
请问是这样吗

[2018-05-11 05:45] xfslove commented on #3
@hungry0  这个地方确实是这样配置的，但是要确保1087端口是http代理端口

你可以看看是否有`privoxy`进程，或者Shadowsocks配置是否也正确

[2018-05-16 01:09] #3 closed

[2018-06-07 07:25] kelly-apollo opened #4 "`shift` 不工作"
`shift` 不工作，没有获取到当前查询的单词，Google translate 的 URL 更新了？

![image](https://user-images.githubusercontent.com/4319332/41084451-d31fc65e-6a66-11e8-871e-95356bf26965.png)

[2018-06-07 08:15] #4 closed

[2018-06-07 08:16] xfslove commented on #4
@kelly-apollo 确实是URL变了，我已经改成了新的URL，更新下就行

[2018-06-12 03:06] kelly-apollo opened #5 "建议：翻译请求应该 input idle 才触发"
![kapture 2018-06-12 at 11 02 02](https://user-images.githubusercontent.com/4319332/41267984-989342cc-6e30-11e8-8ef0-18fcbb4ff226.gif)

[2018-07-04 21:37] xiaoyu-tamu opened #9 "发音不工作"
按照README 里的

`tr translate`

然后 cmd+enter 发音说的完全不知道是什么。。

[2018-07-05 01:01] xfslove commented on #9
@xiaoyu-tamu 你是系统语言是中文吗

[2018-07-05 01:02] xiaoyu-tamu commented on #9
哦 我是英文 我换了试试

On Wed, Jul 4, 2018, 8:01 PM YaTou <notifications@github.com> wrote:

[2018-07-05 01:03] xiaoyu-tamu commented on #9
@xfslove 可以了

[2018-07-05 01:03] #9 closed

[2018-07-06 02:34] colorwin opened #10 "建议：加入显示音标"
因为有的时候只想看音标而不方便听，例如：按一次cmd显示音标，再按一次enter发音

[2018-07-25 07:07] gggin opened #11 "使用shift打开的preview里面内容是空的"
![default](https://user-images.githubusercontent.com/3293064/43184769-4b10b1e8-901c-11e8-9ffd-e661ddc54d4b.png)

我曾经修改过按回车打开url 但是不久以后会被npm给覆盖
我想增加一个按2下alt就弹出被选中的翻译弹出功能，是否可以提PR

[2018-07-25 07:30] xfslove commented on #11
我没太明白你的需求

[2018-07-25 07:53] xfslove commented on #11
@gggin 你好，我没太明白你的需求

1.  shift打开是白色可能是网络原因
2.  显示不出来的话，可以试一下cmd+y

[2018-07-25 09:00] gggin commented on #11
先说两下alt， 连续按两下alt可以弹出翻译 然后自动翻译被选中的问题（这个很简单，不用写代码），直接加个Hotkey就可以了

我看了alfred，但是我不知道作者你是如何实现出preview的，但是我吧quicklookurl里面的东西直接放到浏览器里面是可以打开的（未翻墙)，我其实只想要一个可以打开google translate网页把翻译内容显示的功能，但是不知道为什么{var:quicklookurl}在我这里就是不好使。

[2018-07-26 01:03] xfslove commented on #11
实际这个{var:quicklookurl}是没用的，quicklookurl需要的参数再index.js中已经定义好了，并需要额外的参数

你可以在workflow中把Open URL删掉再重新创建一个，试一下

关于这个quicklookurl，alfred文档原文

[2018-07-26 01:07] xfslove commented on #11
@gggin 实际这个{var:quicklookurl}是没用的，quicklookurl需要的参数再index.js中已经定义好了，并需要额外的参数

你可以在workflow中把Open URL删掉再重新创建一个，试一下

关于这个quicklookurl，alfred[文档原文](https://www.alfredapp.com/help/workflows/inputs/script-filter/json/)

[code]

最后你说的按两下alt弹出翻译，这个我觉得可能有点重复，而且使用起来并没有quicklook方便，你习惯的话可以自己在workflow中定义一下hotkey自己使用😀

[2018-07-27 00:57] #11 closed

[2018-09-23 13:27] iromise opened #12 "Error at index.js:105:17"
I just input `tr hello`, it tells me to press command+L to show more details error

Error at /usr/local/lib/node_modules/alfred-google-translate/node_modules/china-google-translate-api/index.js:105:17 at `<anonymous>`

My nodejs version is
[code]

[2018-09-25 01:00] xfslove commented on #12
@iromise thx for report, i'll take a look at this problem!

[2018-09-25 01:10] xfslove commented on #12
@lingyv 能看一下这个异常的问题不

[2018-09-25 03:31] lingyv commented on #12
@iromise 这个错误是在请求 URL 时发生的, 我看不到错误信息, 你在命令行执行下面命令看看错误信息是什么:
[code]

[2018-09-25 04:59] iromise commented on #12
here is the result, @lingyv
[code]

[2018-09-25 08:38] iromise commented on #12
I can not access translate.google.com, but .cn is ok, here is the info

[code]

[2018-09-25 09:13] xfslove commented on #12
@iromise ummmmm... I'm not sure why you had get message like "Your client does not have permission to get URL." . @lingyv 'll working on this.
but maybe It's not a bug, take a look at [this description](https://github.com/googleapis/google-api-go-client/issues/155).

[2018-09-25 09:46] martint028 commented on #12
[code]

[2018-09-26 01:57] lingyv commented on #12
@iromise i don't know why you don't have permission, maybe you can change computer or network and then run that command again.

[2018-09-26 02:04] lingyv commented on #12
@martint028 you got a 403 error ?

[2018-09-26 02:09] martint028 commented on #12
@lingyv yes

[2018-09-27 05:46] sailor103 commented on #12
same problem, if anyone can help me?

 `Error at /usr/local/lib/node_modules/alfred-google-translate/node_modules/china-google-translate-api/index.js:105:17 at <anonymous>`

[2018-09-27 05:55] lingyv commented on #12
@sailor103 @martint028 if you can access `translate.google.com`, try this command:
[code]

[2018-09-27 06:14] martint028 commented on #12
@lingyv After entering this command, there is still the same error

[2018-09-27 06:17] lingyv commented on #12
When is the workflow installed?

[2018-09-27 06:45] martint028 commented on #12
After upgrading to the official version of Mojave

[2018-09-27 07:01] lingyv commented on #12
`china-google-translate-api` is done by modifying the code of [google-translate-api
](https://github.com/matheuss/google-translate-api).
can you follow the `README.md` of [google-translate-api
](https://github.com/matheuss/google-translate-api) and try it ?

[2018-09-29 01:19] xfslove commented on #12
[related issue](https://github.com/matheuss/google-translate-api/issues/70)

[2018-09-30 08:09] Astraeux commented on #12
我也遇到了这个问题，curl translate.google.com 或 translate.google.cn 都产生相同错误

[2018-09-30 09:40] piccy commented on #12
Maybe the problem is missing User Agent:

[code]
Return is OK.

[code]
Return is 403.

[2018-09-30 09:45] xfslove commented on #12
@sailor103 @martint028 @iromise @Astraeux Please have a try.

[2018-09-30 09:46] Astraeux commented on #12
curl with User Agent is OK.

[2018-09-30 09:53] piccy commented on #12
@xfslove
@Astraeux

[code]
chage line 105 to :
[code]

[2018-09-30 09:56] xfslove commented on #12
if it's works, @lingyv 'll update translate-api packages.

[2018-09-30 10:13] lingyv commented on #12
ok, i get it, thank you all.
I have upgraded the version from 2.3.0 to 2.3.1.

[2018-09-30 10:15] Astraeux commented on #12
line 105:
[code]

line 52:
[code]

I try change line 52 to:
[code]

But it does't work.

[code]

[2018-10-02 09:31] likecreep commented on #12
我也遇到这个问题。 试过添加了user-agent也没有用。 是不是可能china-google-translate-token 这个依赖产生的tk没有用？

[2018-10-08 01:53] xfslove commented on #12
这个问题目前看来应该是api限制的原因，目前还没有好的办法解决

[2018-10-08 02:47] Astraeux commented on #12
为什么我执行curl加上user agent可以成功，但代码加上user agent仍然失败？

[2018-10-08 02:49] xfslove commented on #12
像 @likecreep 说的可能生成的token没用

[2018-10-13 08:55] sailor103 commented on #12
mac 上最好用的翻译助手就这么不能用了吗？现在每次tr一下，然后翻译不了。。

[2018-10-15 01:30] lingyv commented on #12
look at this [issues](https://github.com/matheuss/google-translate-api/issues/79), and try [this way](https://github.com/vitalets/google-translate-token/commit/0b2bd0d8cd63cc4e8a191c359d683511d46556a6)

[2018-10-15 04:17] Astraeux commented on #12
This way is worked, don't need to change user agent.

[2018-10-15 05:02] lingyv commented on #12
ok, thank you, i'll upgrade later

[2018-10-15 05:28] lingyv commented on #12
everybody, i have pushed the update, please upgrade your workflow and try again.

[2018-10-15 06:06] #12 closed

[2018-10-17 02:47] PTDog opened #13 "npm 安装失败"
系统10.14
[code]

[2018-10-17 08:28] szweee opened #14 "安装失败"
npm ERR! Darwin 17.7.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "-g" "alfred-google-translate"
npm ERR! node v6.3.1
npm ERR! npm  v3.10.3
npm ERR! path /usr/local/lib/node_modules
npm ERR! code EACCES
npm ERR! errno -13
npm ERR! syscall access

npm ERR! Error: EACCES: permission denied, access '/usr/local/lib/node_modules'
npm ERR!     at Error (native)
npm ERR!  { Error:

[2018-10-17 08:32] xfslove commented on #13
@PTDog 你Alfred是不是丢失配置了，看错误信息`com.runningwithcrayons.Alfred-Preferences-3.plist`是找不到

[2018-10-17 08:32] xfslove commented on #14
@szweee 你`node_modules`权限有点问题，看信息`Please try running this command again as root/Administrator.`

[2018-10-17 08:39] szweee commented on #14
还是不行

{ Error: Command failed: alfred-link
Error: Alfred preferences not found at location /Users/yanjiaying/Library/Preferences/com.runningwithcrayons.Alfred-Preferences-3.plist
    at pathExists.then.exists (/usr/local/lib/node_modules/alfred-google-translate/node_modules/resolve-alfred-prefs/index.js:15:10)

    at Promise.all.then.arr (/usr/local/lib/node_modules/alfred-google-translate/node_m

[2018-10-17 08:45] szweee commented on #14
在github上直接下载安装的也翻译报错
<img width="1225" alt="2018-10-17 4 44 02" src="https://user-images.githubusercontent.com/20777870/47073970-017a8200-d22c-11e8-86c9-72035a7a991d.png">

[2018-10-17 13:55] PTDog commented on #13
我手动去这个目录找了，这个文件是有的。alfred版本3.7

[2018-10-18 09:48] xfslove commented on #14
related #13

[2018-10-18 09:48] xfslove commented on #13
([试一下](https://www.alfredapp.com/help/troubleshooting/preferences/))

[2018-10-22 02:09] xfslove commented on #14
这个问题应该是alfred的问题，不是workflow的问题，先关闭了

[2018-10-22 02:09] #14 closed

[2018-10-22 02:10] #13 closed

[2018-12-01 07:18] qiaokang opened #16 "403怎么解决？"

[2018-12-03 10:08] liyangpro opened #17 "一直显示翻译中"
![image](https://user-images.githubusercontent.com/9484545/49367263-7e06e880-f726-11e8-9afe-6bd61c5f8684.png)

[2018-12-04 01:02] xfslove commented on #17
@liyangpro 麻烦把workflow的版本贴出来一下

[2018-12-04 02:30] liyangpro commented on #17
版本是v1.1.1
现在也报了403
![image](https://user-images.githubusercontent.com/9484545/49414803-9c64f680-f7af-11e8-842a-1e6232280dc3.png)
和 #16 一样的情况。

[2018-12-04 02:37] xfslove commented on #17
@liyangpro 是直接下载的workflow，还是npm安装的

[2018-12-04 03:01] liyangpro commented on #17
直接下载的
![image](https://user-images.githubusercontent.com/9484545/49416151-fd8ec900-f7b3-11e8-8614-0e3b09a9cc2f.png)

[2018-12-04 03:49] xfslove commented on #17
@lingyv token获取的方式似乎又变了，[看这儿](https://github.com/vitalets/google-translate-token/blob/845f830ea1c2f5839f91cfd1d4335fc0e624787b/index.js#L84)，我不清楚这个是不是会经常变，能否有个方式能及时得到这个修改

[2018-12-05 03:54] lonelygo commented on #16
可以参考：[](https://github.com/matheuss/google-translate-api/issues/79)

[2018-12-05 03:56] lonelygo commented on #16
可以参考：https://github.com/matheuss/google-translate-api/issues/79#issuecomment-425679193

[2018-12-06 07:43] xfslove commented on #17
@onlyless 感谢反馈，也麻烦试一下新的版本

[2018-12-06 07:43] xfslove commented on #10
v1.1.3版 加入了这个功能

[2018-12-06 07:43] #10 closed

[2018-12-06 10:45] onlyless commented on #17
@xfslove 新版本我这里用着没问题，就是新版本翻译时把输入也当成了输出
![image](https://user-images.githubusercontent.com/24915490/49579380-05529700-f987-11e8-9db9-4adb7277faa9.png)

[2018-12-07 01:17] xfslove commented on #17
@onlyless 嗯，新版加入了显示音标，会显示查询内容的音标和翻译结果的音标，如图：
<img width="840" alt="1" src="https://user-images.githubusercontent.com/7803346/49621514-a9c4ef80-fa00-11e8-9218-cc921d0ab6d7.png">
不过由于接口内容的限制，有的内容拿不到音标，所以就无法显现，比如你输入的`hello world`🙂

关于更新内容可以看下[这里](https://github.com/xfslove/alfred-google-translate/releases)

[2018-12-07 09:42] liyangpro commented on #17
@xfslove 新版本可以用了。不过就是有点慢。
尤其是查完英文 -> 中文后，再使用 中文 -> 英文的时候大约有10秒左右的延迟。我本地的梯子速度还是比较快，暂时不清楚是哪里的问题。

[2018-12-07 09:42] #17 closed

[2018-12-07 09:48] xfslove commented on #17
@liyangpro 现在的workflow是不需要梯子的，可能是新版加了下载语音的功能，这个地方比较慢，后面再优化一下，可选下载语音还是用本地语音

[2018-12-14 12:09] Konfido opened #19 "中英长句互译"
在翻译长句时，英译中没问题，但是中译英时，结果为两段中文。

![image](https://user-images.githubusercontent.com/25447610/50002425-0fa21000-ffdb-11e8-9298-27f3f4b859e2.png)

[2018-12-17 02:17] Konfido commented on #19
#### 句子我是随意找的，任意选中长句然后快捷键调用，结果都是两行中文。你可以测试下面这句：
---
- 测试句子：在目前的研究中，业内已有多种方法解决该难题。部分是基于稀疏计算，也包括剪枝或其他更高级的方法。总而言之，在将模型存储到磁盘时，这样的方法能够大大降低训练网络的大小。
- 结果图：
<img width="735" alt="2018-12-17 10 09 45" src="https://user-images.githubusercontent.com/25447610/50062810-1fd90b80-01e4-11e9-9b11-7ad8a88b7f5a.png">

[2018-12-18 02:12] #19 closed

[2018-12-18 10:39] likecreep opened #20 "建议：希望增加保留查询历史记录的功能"
保留查询历史记录到一个本地文档。

[2019-03-15 10:26] suboyang commented on #20
不知道什么原因，我如果是大段落复制，只能翻译第一句话，字数太多就不能翻译了，不知道什么原因，希望改进，大段落的翻译是一个常用的功能，期待更新。

[2019-03-15 10:28] suboyang opened #23 "大段落翻译无法实现"
我画了大段落的文字，但只能翻译第一句话。您能帮我解决吗 ？怎么样可以画大段落复制，而直接翻译出来。

![](https://user-images.githubusercontent.com/4099914/54426965-1c5a0f80-4754-11e9-9890-a4d1794f9a66.png)

[2019-03-15 10:29] suboyang commented on #20
这个功能很重要。

[2019-03-15 10:31] suboyang commented on #23
![image](https://user-images.githubusercontent.com/4099914/54425521-7bb62080-4750-11e9-9ec8-0d236b9a672f.png)

![image](https://user-images.githubusercontent.com/4099914/54425550-8c669680-4750-11e9-931f-a86d1b23b683.png)

[2019-03-15 10:57] suboyang commented on #23
![image](https://user-images.githubusercontent.com/4099914/54426965-1c5a0f80-4754-11e9-9890-a4d1794f9a66.png)

[2019-03-15 11:02] suboyang commented on #23
实在是谢谢了，感觉你这个功能可以逆天，我主要想解决大段文字处理的问题，不用在网页里来回转帖。

[2019-03-15 13:10] suboyang commented on #23
我又用了几次，发现你的问题是，文章的之间的标点是有空格的，而你的$1参数把这些空格看成了参数的间隔符，并没有把后面的内容算进去，所以只能翻译头一句话。希望你解决这个问题。

[2019-03-18 01:03] xfslove commented on #23
我看看

[2019-03-18 01:04] xfslove commented on #20
有兴趣PR吗🙂

[2019-03-18 05:34] suboyang opened #24 "发音问题"
发现你的发音功能在单词上是可以的，但是如果是整句话，或者整段话，就无法发音了。请修复bug。

还有你的cmd+l功能，既然shift 是快照，那么为啥不用shift+l 这样更方便记忆？
或者你能不把shift 本身就改成cmd+l功能，这样不更好用 ？

[2019-03-18 05:41] suboyang opened #25 "翻译基础设置功能"
我也用了其他的google translate, 我个人认为你的模块缺少一个google translate 基础设置功能，就是把哪种语言翻译成哪种对应的语言。
这里有一个很好的例子，你可以借鉴一下。
https://github.com/DONSA/alfred-google-translate

我个人认为如果你能把这个基础设置功能结合进来，并把大段落翻译，和发音问题解决，你这个翻译模块趋向完美。

[2019-03-19 02:55] suboyang commented on #20
倒是有兴趣
工作有点忙

Sent from my iPhone

On Mar 18, 2019, at 9:04 AM, Iven <notifications@github.com<mailto:notifications@github.com>> wrote:

这个功能很重要。

有兴趣PR吗🙂

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/xfslove/alfred-google-translate/issues/20#issuecomment-473735352>, or mute the thread<https://github.com/notifications/unsubscribe

[2019-03-19 03:18] #23 closed

[2019-03-19 03:18] #24 closed

[2019-03-19 03:21] xfslove commented on #24
关于快捷键的问题，cmd+L是workflow默认的largetype的快捷键

[2019-03-19 03:37] xfslove commented on #25
采集一下有多少人需要这个功能

[2019-03-19 03:39] xfslove commented on #20
采集一下有多少人需要这个功能。

[2019-03-19 03:44] suboyang commented on #20
我个人认为，你这个代码是很有创意的模块，尤其对于mac 阅读pdf文档,不用来回切换桌面，查看浏览器，但是估计不会超过万人，比较大量阅读英文文档的人，就是非常小众的人群。

Sent from my iPhone

On Mar 19, 2019, at 11:39 AM, Iven <notifications@github.com<mailto:notifications@github.com>> wrote:

采集一下有多少人需要这个功能。

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/xfslove/alfred-google-translate/issues/20#issuecomment-47

[2019-03-19 03:51] suboyang commented on #20
我个人认为历史记录还好，我个人感觉用处不大。但是如果能设置语言翻译对应，那么你的用户群就是来自全世界的了！

Sent from my iPhone

On Mar 19, 2019, at 11:39 AM, Iven <notifications@github.com<mailto:notifications@github.com>> wrote:

采集一下有多少人需要这个功能。

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/xfslove/alfred-google-translate/issues/20#issuecomment-474186320>, or mute the thread<htt

[2019-03-19 03:55] suboyang commented on #20
我个人觉得先让全世界的极客都能用的你设计的模块，后面的bug都好说

Sent from my iPhone

On Mar 19, 2019, at 11:39 AM, Iven <notifications@github.com<mailto:notifications@github.com>> wrote:

采集一下有多少人需要这个功能。

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/xfslove/alfred-google-translate/issues/20#issuecomment-474186320>, or mute the thread<https://github.com/noti

[2019-03-19 05:24] suboyang commented on #25
_对于我现在的应用，我觉得应该没什么问题了，但是如果加了基础功能的模块，我认为你的用户群会扩大到全世界，而不只是中国的工程师和翻译人员，那个时候会有更多人提建议和bug。模块更完善。

[2019-03-19 05:28] xfslove commented on #25
感谢给出的建议

[2019-03-19 05:29] xfslove commented on #20
感谢给出的建议

[2019-03-19 16:05] suboyang opened #26 "大段落翻译仍有问题，63个单词以上，无法翻译。"
今天学习的时候发现，只要单词超过63个，workflow就没有反应了。需要修复bug.
举例如下。
Although Botswana’s economic outlook remains strong, the devastation that AIDS has caused threatens to destroy the country’s future. In 2001, Botswana has the highest rate of HIV infection in the world. With the help of international donors it launched an ambitious national campaign that provided free antiviral drugs to anyone who needed them, and

[2019-03-20 02:59] xfslove commented on #26
看了一下，tts-api一次字符长度不能超过200。空了修复一下

[2019-03-20 15:57] suboyang commented on #26
感觉63个词实在是太少了，一段文字，怎么也得200个词吧。
不过仍然感谢你的回复，期待你的好消息。

[2019-03-21 08:57] suboyang commented on #26
我也查到了这个信息 https://github.com/zlargon/google-tts，是不是可以用来解决
multiple URLs，可能代码改的地方比较多，比如先要计算到底有多少字符，用总数/200，
取余，然后发起多个multiple URLs连接，最后把返回的值整合。
思路应该是这么个思路，不知道你没有时间改了。

[2019-04-17 07:14] vfptr opened #27 "Run with error."
Error in the console:
[ERROR: input.scriptfilter] Code 1: /Users/Matthew/Library/Application Support/Alfred 3/Alfred.alfredpreferences/workflows/alfred-google-translate/index.js:65
          const [text, relation] = x;
                ^

SyntaxError: Unexpected token [
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:387:25)
    at Object.Module._extensions..js (modu

[2019-04-17 11:10] xfslove commented on #27
麻烦贴一下翻译报错的单词

[2019-04-18 02:22] vfptr commented on #27
随便输一个单词就报错，比如“what"

[2019-04-19 01:23] xfslove commented on #27
@vfptr  我看了一下你报错的位置，这行代码是老版本的，你使用的`alfred-google-translate`版本似乎不是最新版的(最新是1.1.8)，麻烦更新到最新版再试一下

[2019-04-19 02:28] vfptr commented on #27
更新后还是类似的问题，日志如下：
[ERROR: input.scriptfilter] Code 1: /Users/Matthew/Library/Application Support/Alfred 3/Alfred.alfredpreferences/workflows/user.workflow.F87909B9-0D67-49F9-A3B3-AA79B7AFFC89/index.js:101
          const [explain, nvl, example] = m;
                ^

SyntaxError: Unexpected token [
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:387:25)
    at Objec

[2019-04-19 07:43] xfslove commented on #27
@vfptr 你电脑上是有多个node版本吗？看起来好像是workflow使用的node版本不支持destructuring

[2019-04-24 03:21] vfptr commented on #27
我使用nvm管理的版本，另外还有一个5.9不在使用中，昨天郁闷之下我把5.9给删了，只留了一个最新的node11.x，然后居然问题解决了。
很奇怪的问题，5.9好像也支持destructuring的吧。

[2019-04-24 09:52] xfslove commented on #27
@vfptr  v6之前好像需要--harmony_destructuring才支持destructuring。

我先把这个issue关闭了

[2019-04-24 09:52] #27 closed

[2019-05-05 06:48] birdmichael opened #28 "关于按键习惯反馈"
按shift打开Google翻译页面
但是输入过程中经常使用shift 作为中英切换。。。
建议使用组合按键

[2019-05-05 06:49] birdmichael commented on #28
其次 个人觉得复制是主要功能，发音是次要功能~~
空格和回车这种热键应交付于复制

[2019-05-06 02:13] xfslove commented on #28
感谢您的反馈，目前快捷键的设置主要是基于alfred workflow [Script Filter JSON Format](https://www.alfredapp.com/help/workflows/inputs/script-filter/json/)，没有做过多的处理

1. shift的问题，这是`Script Filter JSON Format` quicklookurl默认的快捷键
2. 复制的问题，也是`Script Filter JSON Format` text.copy默认的快捷键，之前版本确实有回车复制结果的功能，不过因为和 text.copy功能重复了，新版中为了减少快捷键的数量，就去把回车复制结果功能去掉了，而把发音功能的快捷键从原来的组合键变为了回车键

这段时间比较忙，等有空看看能不能优化下，做到用户可以自己简单的设置快捷键（可能基于`Script

[2019-05-06 02:34] birdmichael commented on #28
明白。。谢谢你的杰作。

[2019-06-08 22:39] luckman212 opened #29 "Select language pairs?"
This is an amazing workflow! Is there any chance you could add a way to change to different language pairs, e.g. German <-> Spanish etc.

[2019-06-10 01:55] xfslove commented on #29
thx to using this workflow, and yes, im planning to add a pre-workflow to do this (setting source & target language).

[2019-06-10 13:01] #25 closed

[2019-06-10 13:01] xfslove commented on #25
relate #29

[2019-06-10 13:02] xfslove commented on #29
Please upgrade workflow to v2.0.0.

[2019-06-10 13:02] #29 closed

[2019-06-11 07:59] xfslove commented on #20
Please upgrade to v2.x

[2019-06-11 07:59] #20 closed

[2019-06-20 07:11] sp0cket opened #31 "alfred 4 npm安装失败"
[code]

看报错还是在使用alfred3的目录

[2019-06-20 07:36] xfslove commented on #31
npm 安装使用的是alfy，好像暂时还 不支持alfred 4，[看这里](https://github.com/sindresorhus/alfy/issues/110)，你可以试试直接下载安装包安装

[2019-07-08 06:24] ifyour commented on #31
@xfslove 如何手动安装呢？自己打包成 `*.alfredworkflow` 文件？

[2019-07-09 06:20] xfslove commented on #31
@ifyour 直接下载就行，[下载地址](https://github.com/xfslove/alfred-google-translate/releases/tag/v2.0.1)

[2019-07-09 06:22] ifyour commented on #31
@xfslove Thanks，我意思是想自己构建一版，不过目前 Alfy 暂时不支持 Alfred 4，不能手动导出 `*. alfredworkflow` 文件。

[2019-07-09 10:27] JusticeGO opened #35 "一直显示翻译中，提示输入错误"
大佬求帮助~npm安装，v2.0.1
![image](https://user-images.githubusercontent.com/41421539/60880718-c0714480-a276-11e9-9b22-f27af15cc31a.png)

RequestError: connect ETIMEDOUT 88.191.249.182:443
Url: https://translate.google.cn/translate_a/single?client=t&sl=en&tl=zh-CN&hl=en&dt=at&dt=bd&dt=ex&dt=ld&dt=md&dt=qca&dt=rw&dt=rm&dt=ss&dt=t&ie=UTF-8&oe=UTF-8&otf=1&ssel=0&tsel=0&kc=7&q=good&tk=629764.983966
    at Cl

[2019-07-09 11:37] JusticeGO commented on #35
node version:
->     v10.11.0
         system
default -> stable (-> v10.11.0)
node -> stable (-> v10.11.0) (default)
stable -> 10.11 (-> v10.11.0) (default)
iojs -> N/A (default)
unstable -> N/A (default)
lts/* -> lts/carbon (-> N/A)
lts/argon -> v4.9.1 (-> N/A)
lts/boron -> v6.14.4 (-> N/A)
lts/carbon -> v8.12.0 (-> N/A)

[2019-07-09 12:39] lonelygo opened #36 "希望能支持自动检测输入语言 (language auto detected)"
希望能支持自动检测输入语言，使用alfred-language-configuration 做hardcode的配置使用灵活性不如之前1.X版本

[2019-07-09 12:48] lonelygo commented on #35
看说明，新版本要装一个alfred-language-configuration的插件，先配置翻译语言和目标语言，貌似不支持自动检测语言了。

[2019-07-09 12:52] JusticeGO commented on #35
alfred-language-configuration我已经装了

[2019-07-09 14:14] lonelygo commented on #35
有点奇怪啊，你报错的Url，正常返回了txt。
要么就是nvm的锅？
我是直接下载装的，没有用npm。

[2019-07-10 01:19] xfslove commented on #35
看你的错误好像是超时了，你看下你环境变量有配置domain=https://translate.google.cn吗

[2019-07-10 01:24] xfslove commented on #36
感谢提的意见，确实是这样的，因为之前是只有中英互译，自动检测还比较好实现，但是需要支持所有语言，我目前还没有特别好的想法（issues：#25， #29）

ps：按google翻译的参数，source到时可以用auto实现自动检测，但是target就不太好做了

或者有好的想法可以提出来🙂

[2019-07-10 01:45] xfslove commented on #36
如果是这样：配置的时候不配置翻译方向，翻译的时候指定，比如这样`tr > hello` and `tr < 你好`

[2019-07-10 02:07] JusticeGO commented on #35
有的，三个环境变量都设置了，很奇怪啊
Aflred v3.8.2 [963]
<img width="485" alt="屏幕快照 2019-07-10 10 04 54" src="https://user-images.githubusercontent.com/41421539/60934813-497d8f80-a2fa-11e9-9f72-78c4f0bcaa20.png">

[2019-07-10 06:38] lonelygo commented on #36
如果没有更好的方案，like `tr > hello` and `tr < 你好` 的方法，起码可以配置一次，在多敲一个空格加字母的情况下，实现双向翻译，也是能接受的选择。

我不确定 source 为auto的时候，API是否会返回检测到的语言种类（肯定检测到语言种类了，就是不确定是否会返回），但是之前用auto实现了中英互译，估摸着是拿到了返回值之后去set target 。
所以，以下我会假定API 是可以在source 为 auto 时可以返回语言名称给调用方的。
几个思路：
`trc en zh-CN`
定义：如果源语言为其中一种，则翻译为另一种；如果源语言不在述列表中，则默认翻译为列表中的第二项（解决非源语言向“母语”翻译）

方案A：
用法：`tr hello` or `tr 你好` or `tr こんにちは`
source 为 auto ，拿到翻译内容的语言种类后，去依据上

[2019-07-10 06:56] xfslove commented on #36
@lonelygo 用心了，期待期待😀

[2019-07-10 07:00] lonelygo commented on #36
主要代码渣渣渣渣，js能看明白就谢天谢地了。
还记得有段时间google-translate 的 token算法不能用么，查询报错，看了看代码，愣是没看明白怎么算出来的😂

[2019-07-10 08:04] JusticeGO commented on #35
好了...改成system的node就能用了....
<img width="389" alt="屏幕快照 2019-07-10 16 01 56" src="https://user-images.githubusercontent.com/41421539/60951653-2cfa4b00-a32c-11e9-82ab-4c1e80e62a8e.png">

[2019-07-10 08:04] #35 closed

[2019-07-10 08:24] lonelygo commented on #35
恭喜成功让nvm接锅🤣

[2019-07-10 08:29] JusticeGO commented on #35
哈哈哈哈😂

[2019-07-22 08:55] Sir-lu commented on #36
Looking forward to the realization of this feature

[2019-07-25 03:21] it-noob opened #37 "shift 无法打开网页"
安装方式：根据文档提示 npm 安装和直接下载安装包，都发生如下情况

选中结果点击 shift，也没有打开网页，而是如下的空白

<img width="607" alt="屏幕快照 2019-07-25 11 20 32" src="https://user-images.githubusercontent.com/12043442/61843454-3d82f780-aece-11e9-8f81-2b55ad2d680c.png">

[2019-07-26 03:34] xfslove commented on #37
麻烦提供一下是在哪个具体选项上不能打开网页。

如果是在相关翻译[Translations]选项上是没有打开网页的。

如果是其它选项上，麻烦提供一下alfred、chrome版本，或者点一下’open with google chrome‘，看一下网址

[2019-07-26 04:12] it-noob commented on #37
@xfslove

<img width="588" alt="屏幕快照 2019-07-26 12 09 08" src="https://user-images.githubusercontent.com/12043442/61925287-34f9f200-af9e-11e9-82b8-975f8040581d.png">

结果里所有的选项按 `shift` 都是那个 Chrome截图的效果

alfred 版本是：v3.5.1[883]

Chrome 版本是：75.0.3770.142

请求地址
[code]

[2019-07-28 14:34] Jerry007s opened #38 "无法中英互译"
Alfred: 4.0.3
alfred-google-translate: 2.0.2

![image](https://user-images.githubusercontent.com/32920461/62008072-8ca78180-b187-11e9-8812-c0aa6be7efb1.png)
[code]

都是默认配置，无法翻译成英文，同时英文也无法翻译成中文。

[2019-07-28 14:40] Jerry007s commented on #38
应该是这里无法识别`sl=en&tl=en`

[2019-07-28 18:04] LuckyDogg opened #39 "如何切换英译中和中译英呢"
![image](https://user-images.githubusercontent.com/16526987/62011005-2c273d00-b1a5-11e9-8eeb-c43527e13805.png)

[2019-07-29 01:09] xfslove commented on #38
看一下主页说明，2.x版本需要[alfred-language-configuration](https://github.com/xfslove/alfred-language-configuration)

[2019-07-29 01:10] xfslove commented on #39
看下主页说明，2.x版本需要[alfred-language-configuration](https://github.com/xfslove/alfred-language-configuration)

[2019-07-29 01:19] xfslove commented on #37
这个问题似乎不是workflow的问题，不知道是不是alfred版本问题，我再查查

[2019-07-29 01:44] xfslove commented on #37
@it-noob 看下你macOS的版本是10.12吗，如果是的话，这个一个macOS bug，你可以看下[这个](https://www.alfredforum.com/topic/11413-lost-ability-to-quicklook-urls-in-macos-1012-bug-in-macos-sierra/)

[2019-07-29 02:29] Jerry007s commented on #38
都装了，常用的就是中英互转。

设置`trc en>zh-CN`之后只能单向的么，只能英译中，不能中译英么？想要中译英还要再`trc zh-CN>en`么？

[2019-07-29 02:38] xfslove commented on #38
对的，暂时只能这样，不过目前正在想怎么优化。 #36 在收集想法，有好的意见也可以提出来😁

[2019-07-29 02:49] Jerry007s commented on #36
我也是最近才接触alfred，我说说下我的想法吧，能否将2者集成到一起，统一在一起设置。

![image](https://user-images.githubusercontent.com/32920461/62018564-c4e1ab00-b1ed-11e9-9681-ebe582a26ffd.png)
提供两种配置方案
1. 统一在上图中进行配置，如果选择`en`和`zh-CH`则在两者间识别并互转。
2. `trc zh-CH&en`在两者间识别并互转。现在的方法`trc zh-CH>en`或`trc en>zh-CN`操作感觉有些繁琐。
---
ps可以开个二维码收款，请你喝咖啡

[2019-07-29 02:52] Jerry007s commented on #38
谢啦，已提出个人想法咯。

[2019-07-29 02:52] #38 closed

[2019-07-29 06:27] xfslove commented on #36
@Jerry007s 感谢提的建议，另外也感谢支持🙂

[2019-07-29 09:19] xfslove commented on #36
I found that there are languages in google translation results, so  @lonelygo ‘s plan A can be achieved!

it willbe looks like:

trc config the language pair. `trc zh-CN&en`.

then `tr hello` or `tr 你好` will detect the input language and get result.

**and I'll do this recently, and release soon.**

[2019-07-29 09:25] Jerry007s commented on #36
哼 `&`不是我的建议么

[2019-07-29 09:40] xfslove commented on #36
是的是的😄

[2019-07-30 03:52] xfslove commented on #36
Now, language auto detect supported! please upgrade the version to[ v2.0.3,](https://github.com/xfslove/alfred-google-translate/releases) and enjoy it.

I'll close this issue, if anyone has any suggestion, can reopen it, or raise a new issue.🙂

[2019-07-30 03:52] #36 closed

[2019-07-30 03:54] xfslove commented on #39
@LuckyDogg 新的版本（2.0.3）已经支持语言自动检测了，可以更新到新版试用。

这个issue我就先关闭了，如果试用中还有问题可以再打开🙂

[2019-07-30 03:54] #39 closed

[2019-07-30 08:30] it-noob commented on #37
非常感谢回复，竟然遇到了 macOS 的 bug，确认是这个 bug，回头我升级系统版本吧

[2019-07-30 08:31] #37 closed

[2019-08-01 11:34] #26 closed

[2019-08-18 15:21] mingzhaocn opened #40 "throw an error that "Couldn't find the `node` binary""
My node is installed using nvm.
the path is ~/.nvm/versions/node/v12.8.1/bin/node

[2019-08-19 01:09] xfslove commented on #40
have you specified which the node OS uses? like `nvm use ***`.

please make sure the `node -v` 'll print the node version.

[2019-08-19 05:34] mingzhaocn commented on #40
I am sure node is available.

The good news it works after reinstallation.

Thanks

[2019-08-19 05:34] #40 closed

[2019-08-21 06:54] lonelygo commented on #36
@xfslove 最近在撸个文档，突然想起来过来看看，哇，都搞定了，怒赞👍👍👍👍👍👍

[2019-08-22 02:00] swain opened #41 "为啥翻译结果里没有中文"
![image](https://user-images.githubusercontent.com/50817/63480207-a0fb4780-c4c3-11e9-859c-8f7cff83ba60.png)

[2019-08-22 02:06] swain commented on #41
不好意思，忽略了开头说明，安装trc设置后就有了。

[2019-08-22 02:06] #41 closed

[2019-08-29 06:47] zbl-96 opened #42 "run error"
[14:34:43.543] Logging Started...
[14:34:56.692] Google Translate[Script Filter] Queuing argument 'goo'
[14:34:57.242] Google Translate[Script Filter] Queuing argument 'google'
[14:35:04.274] Google Translate[Script Filter] Script with argument 'google' finished
[14:35:04.278] ERROR: Google Translate[Script Filter] Code 1: {
	"items": [
		{
			"title": "google",
			"subtitle": "Phonetic: ˈgo͞ogəl"

[2019-08-29 10:07] xfslove commented on #42
it seems like youare not config the language pairs. please see [alfred-language-configuraiton](https://github.com/xfslove/alfred-language-configuration)

[2019-08-30 02:31] LitoMore commented on #31
Hi there! Now Alfy supports Alfred 4, alfred-link has been released a patch update to add support for Alfred 4. Just update your dependencies to get it to work. 😄

[2019-08-30 03:11] xfslove commented on #31
thx, its awesome! ill work on it.

[2019-08-30 03:25] xfslove commented on #31
could rerun `npm install -g alfred-google-translate` to get it to work.

[2019-08-30 03:41] LitoMore commented on #28
You could use `command + Y` instead of pressing `shift`, that's equivalent.

[2019-08-30 16:59] sp0cket commented on #31
是不是close早了，当前release版本v2.0.5使用npm安装还是会报这个错

[2019-08-30 17:05] sp0cket commented on #31
目前alfy版本是0.9.0建议新开个v3分支升级下相关依赖以兼容alfred4，当前v2版本可以继续维护

[2019-09-02 01:08] xfslove commented on #31
我刚看了一下我自己的，我还是安到了alfred 3的目录下，以为成功了，我更新一下，非常感谢反馈🙂

[2019-09-02 01:37] xfslove commented on #31
@sp0cket 我更新了alfy的版本，你可以再试一下是否能用npm安装成功🙂

[2019-09-02 03:20] sp0cket commented on #31
npm安装目前没有报错，但是翻译时有报错

[code]

[2019-09-02 03:56] xfslove commented on #31
@sp0cket 你应该是没有配置吧，看一下alfred-language-configuration

[2019-09-02 05:52] sp0cket commented on #31
`alfred-language-configuration`这个库npm安装的时候页报了alfy这个问题

[2019-09-02 06:14] xfslove commented on #31
😅我忘记更新那个workflow了，等会儿我更新一下

[2019-09-02 06:33] xfslove commented on #31
@sp0cket 已经更新好了，可以试一试

[2019-09-02 09:29] sp0cket commented on #31
看起来都没问题了，thx

[2019-09-02 09:29] #31 closed

[2019-09-02 09:42] xfslove commented on #42
hi @zbl-96 , I'll close this issue. and if you got the same error again. you could reopen it.🙂

[2019-09-02 09:42] #42 closed

[2019-09-03 03:21] mercer08 opened #43 "显示一直翻译中，ss挂了全局代理"
![image](https://user-images.githubusercontent.com/12872293/64142016-dcd7ca80-ce3c-11e9-8c77-c83358f41d52.png)
![image](https://user-images.githubusercontent.com/12872293/64142047-fbd65c80-ce3c-11e9-9840-7772c1b6d85d.png)
![image](https://user-images.githubusercontent.com/12872293/64142052-01cc3d80-ce3d-11e9-9ebf-bab5152b3b3a.png)

[2019-09-03 03:22] mercer08 commented on #43
安装方式是通过下载workflow安装

[2019-09-03 03:22] mercer08 commented on #43
![image](https://user-images.githubusercontent.com/12872293/64142091-27594700-ce3d-11e9-8918-06637dfa45ff.png)

[2019-09-03 03:23] xfslove commented on #43
看一下readme。需要配置一个domain https://translate.google.cn

[2019-09-03 03:25] mercer08 commented on #43
解决了，非常感谢！

[2019-09-03 03:25] #43 closed

[2019-09-03 09:52] oracleabyss opened #44 "从输入到展示有2秒左右的延迟."
切换过 com or cn,  都感觉是这个数字.

[2019-09-03 11:21] xfslove commented on #44
如果是开了下载语音感觉很慢，可以把语音关掉（voice:none或者local）
如果还是很慢的话可能是网络问题（比如dns之类），也可能翻译的句子比较长
目前可能暂时没有很好的办法解决.

[2019-09-04 02:14] zbl-96 commented on #42
@xfslove  正常工作了 非常感谢.

[2019-09-25 02:56] huangboju opened #45 "请求 429"
![image](https://user-images.githubusercontent.com/14818224/65565666-279fba80-df83-11e9-93ae-93c677c6a6d6.png)

[2019-09-29 01:01] xfslove commented on #45
这个问题好像一直都没有很好的解决。空了再看看

[2019-10-04 05:36] zajako opened #46 "JSON error: Garbage at end. in JSON errors"
[01:31:35.879] ERROR: Google Translate[Script Filter] JSON error: Garbage at end. in JSON:
{
	"items": [
		{
			"title": "무기 타격치",
			"subtitle": "Phonetic: mugi tagyeogchi",
			"quicklookurl": "https://translate.google.com/#view=home&op=translate&sl=auto&tl=en&text=%E1%84%86%E1%85%AE%E1%84%80%E1%85%B5%20%E1%84%90%E1%85%A1%E1%84%80%E1%85%A7%E1%86%A8%E1%84%8E%E1%85%B5",
			"arg": "/var/folder

[2019-10-08 01:24] xfslove commented on #46
Before using this workflow, You must config the language pair. see [alfred-language-configuration](https://github.com/xfslove/alfred-language-configuration)

[2019-10-08 01:29] #46 closed

[2019-10-08 19:20] okayjeffrey opened #47 "Action items appear not to be working."
In alfred when on the 1st or 2nd item I can not copy, lookup or do any of the action commands you outlined. It will only speak the text.

_Note: I over wrote this to just spit out the text translation in the **index.js** file by using the **toText** variable instead of the **toArg**_

### This output isn't very interesting or informative but hope it helps.

**Output when hitting [Enter]**

[12:13:

[2019-10-09 02:43] xfslove commented on #47
hi, @okayjeffrey . I watched the output you posted, it looks right .

you can see the snippet:

[code]
those three properties are the workflow used.

copy from [Script Filter JSON Format](https://www.alfredapp.com/help/workflows/inputs/script-filter/json/).

the `arg` value will passed to the bash script(the voice) action by tapping enter, and the `text`, `quicklookurl` used the default hotkey.

a

[2019-10-12 14:33] dingcang commented on #36
哈哈，支持二维码，给作者大大一杯咖啡，真是辛苦啦💦

[2019-10-14 18:10] gudongfeng commented on #36
辛苦辛苦。哪儿有donation 的二维码？我也想给个咖啡。

[2019-10-15 01:00] xfslove commented on #36
@gudongfeng 感谢支持🙂

[2019-10-15 03:10] xfslove opened #48 "Translation Quality"
change the client parameter to enhance the translation quality. [see this](https://github.com/vitalets/google-translate-api/issues/39)

[2019-10-15 03:10] #48 closed

[2019-10-23 11:55] shaodahong opened #49 "不规范的字符应该是给建议不是报错"
![image](https://user-images.githubusercontent.com/14831261/67390298-f8ef2100-f5ce-11e9-9e7c-c5160a0517c7.png)

[2019-10-24 01:25] xfslove commented on #49
这个是因为workflow把`mentio`语言检测成Latin，我看看这种情况怎么优化一下吧

[2019-10-24 02:48] #49 closed

[2019-10-24 02:52] xfslove commented on #49
新版如果检测到输入语言不是配置的语言会给提示

The latest version will prompt you if detected the input language is not the configured language.

[2019-10-24 02:56] shaodahong commented on #49
应该和1.x版本一样纠错

[2019-10-24 02:57] shaodahong commented on #49
已经设置了默认的
![image](https://user-images.githubusercontent.com/14831261/67449526-08ad4a80-f64d-11e9-8714-f17934138d3a.png)

[2019-10-24 03:01] xfslove commented on #49
@shaodahong 纠错一直都有的

不过这个单词太特特殊了，google翻译检测出来是拉丁语

官网翻译结果如下：
<img width="1275" alt="image" src="https://user-images.githubusercontent.com/7803346/67449701-9b4de980-f64d-11e9-9931-efde7db9a872.png">

[2019-10-24 03:03] xfslove commented on #49
我觉得workflow的和官网的表达y应该尽量差不多，@shaodahong 觉得呢？

[2019-10-24 03:45] shaodahong commented on #49
说实话整体体验下来还是 1.x 版本顺手，可能是之前用习惯了……

[2019-10-24 05:01] xfslove commented on #49
@shaodahong  感谢一直的支持，确实，如果只是中英互译的话，1.x就行了，简单很多

2.x 要兼容所有语言，所以难免会复杂，会多一些步骤，但只要有人提出建议，肯定也会慢慢不断地优化下去🙂

[2019-10-31 22:48] Aracki commented on #45
Where can we see the information from google about "how many times an IP limit a day)"?

[2019-11-01 01:57] xfslove commented on #45
@Aracki  I'm not found explicit explanation, it just got from other guys, actually.

[2019-11-09 08:07] SpringHerald opened #50 "获取不到Selection in macOS"
选中一些文本，按快捷键后弹出的框中没有内容。
这个是debug输出的日志
[code]
但是如果选项改成macOS clipboard contents就能用，弹出的框中就有内容。

macOS 10.14.6, node v12.12，Alfred 4.0.6破解版

[2019-11-11 07:19] xfslove commented on #50
这个应该不是workflow的问题，感觉会不会是和你其它软件冲突了

[2019-11-11 08:07] SpringHerald commented on #50
找到解决方法了：https://www.alfredforum.com/topic/11711-alfred-37-beta-for-mojave-beta-4/

quit Alfred then open the macOS Security & Privacy > Accessibility preferences. Remove both Alfred 3 and Alfred Text Service, then restart your Mac.

[2019-11-12 01:00] #50 closed

[2019-11-15 12:05] alfredo-milani opened #51 "HTTPError: Response code 404 (Not Found)"
Once downloaded and configured alfred-language-configuration and installed node binary, this workflow gives the following error (input: tr hello):

[code]

Seems to be an error due to malformed URL. The string in excess is "translate_a/single". Once that string has been deleted, the request proceeds successfully, at least on browser.
If I manually remove the string '/translate_a/single' in the tra

[2019-11-18 04:21] xfslove commented on #51
I'll take a look.

[2019-11-18 08:32] xfslove commented on #51
@alfredo-milani , your `domain` variable should be `https://translate.google.it` instead of `https://translate.google.it/`

[2019-11-18 08:51] alfredo-milani commented on #51
Thanks. The final slash was the problem.

[2019-11-18 08:51] #51 closed

[2019-11-29 10:35] mqliutie commented on #44
Detected the input language is Chinese Simplified, not one of your configuration.

 我输入无论中文还是英文下面都提示这个...
![image](https://user-images.githubusercontent.com/11795518/69863100-f0c58800-12d6-11ea-8561-713fe8575b8b.png)
![image](https://user-images.githubusercontent.com/11795518/69863108-f753ff80-12d6-11ea-8ab0-06811d2f6199.png)

英文还不转中文,,,
就一行,,,

[2019-11-30 22:19] xzy9565 opened #52 "希望添加 Large Text 多行显示功能"
翻译大段落之后用cmd+L 会显示在一行里面，字体非常小
不知是否可能实现多行显示的功能？
![image](https://user-images.githubusercontent.com/15137722/69906700-71e35480-1395-11ea-89d4-6d0067955046.png)

[2019-12-04 01:04] xfslove commented on #44
@mqliutie 你有配置alfred-language-configuration吗？

[2019-12-04 01:05] xfslove commented on #52
我也不知道支不支持，空了看看

[2019-12-07 09:26] mqliutie commented on #44
好了，就是没配置这个，，，兄弟有没有中文版啊，搞个中文版的 README 挺好的我觉得- -

[2019-12-09 01:00] xfslove commented on #44
@mqliutie 空了加一个🙂

[2019-12-09 16:23] kyrsquir opened #53 "Doesn't seem to work with Hebrew"
Try it on any Hebrew word, for example "ברוך"

[2019-12-10 02:19] xfslove commented on #53
please try with `trc iw&en`. it seems `he` no working again.

[2019-12-10 19:10] kyrsquir commented on #53
Won't work for me. While it is configured to `iw` or `he` it behaves as if it encounters an error and crashes internally every time a translation is attempted. It won't show any results even when trying to translate an untranslatable special character like ✟ (which works if set to any other language).

[2019-12-11 01:25] xfslove commented on #53
would you please paste the version of the node, alfred, workflow?

and if the workflow shown any errors paste the stack trace too.

[2019-12-11 03:25] kyrsquir commented on #53
Node 12.13.0
Alfred 4.0.7
Workflow - main 2.0.8 and config 1.0.4

Also noticed that configured language doesn't matter, it breaks on Hebrew words even when other languages are set.

[code]

[2019-12-11 03:49] xfslove commented on #53
I saw that, its the tts problem. I'll take a look.

you could config the `voice:none` temporarily.

[2019-12-11 04:00] kyrsquir commented on #53
That worked, thanks!

Is there a way to disable it only for Hebrew? Phonetics is one of the best features of this workflow :)

[2019-12-11 06:55] xfslove commented on #53
perhaps no. sorry for that. but I'll fix this as soon as possible.

[2019-12-12 02:19] xfslove commented on #53
I found that the Google not support Hebrew voice. look at this:

<img width="1277" alt="1" src="https://user-images.githubusercontent.com/7803346/70676873-86deb280-1cc8-11ea-8fca-8e8435e1799b.png">

I'll find a way to give tips on workflow.

[2019-12-26 05:10] nobut opened #54 "添加快捷复制功能"
请问有考虑过enter之后自动添加到光标位置或者直接复制呢

[2019-12-26 06:00] xfslove commented on #54
有这个计划，就像 #28 所提到的。

这个issue和 #28 重复了，如果有按键习惯的建议可以到 #28 下提，感谢！

[2019-12-26 06:00] #54 closed

[2020-02-03 03:16] ndistqt commented on #45
只要等到用户确认他们的输入，就不会发出任何意外请求！可以减少请求量

[2020-02-03 04:14] xfslove commented on #45
@ndistqt 如何让用户确认输入呢？

[2020-02-03 13:38] ndistqt commented on #45
如果“ alfred”在发送前不允许确认，则可以让“ javascript”计时器运行“ throttle”功能，并始终在计时器用尽之前检查输入是否已更改

[2020-02-04 15:38] xfslove commented on #45
@ndistqt thx，ill take a look.

[2020-02-28 02:45] xfslove commented on #47
hi @okayjeffrey , if you got the correct result as you expected. i'll close this issue.

[2020-02-29 01:04] Garlichead opened #56 "不能直接按住热键之后 直接翻译我在屏幕上划词的内容吗"
不能直接按住热键之后 直接翻译我在屏幕上划词的内容吗 这样就不要做重复工作 先打开翻译 再把划词内容复制进去 还是我不会用？

[2020-02-29 05:30] xfslove commented on #56
如果你是下载的安装包，可能是没有配置热键[看看这个](https://github.com/xfslove/alfred-google-translate#environment-variables-config-snapshot)

[2020-03-01 01:07] Garlichead commented on #56
我设置打开翻译的启动键是option+t 但是我按opthon+t 可以打开翻译试图 但是无法直接翻译我在屏幕上划词的内容 还需要我手动复制需要翻译的内容 然后粘贴到翻译框里面

[2020-03-01 02:35] xfslove commented on #56
你看下是不是没给Alfred权限 #50

[2020-03-01 03:39] pengliheng commented on #28
You just directly translate English into Chinese or translate Chinese into English.
Those two are mainly language all over the world.
any other language should be automatically ignored.

[2020-03-04 02:14] Garlichead opened #57 "cmd+c 复制内容的具体代码逻辑实现在？"
我查看了源码 cmd+c 复制内容的具体代码逻辑实现在？我想增加一个扩展 就是我想用cmd+x键将查词同步到我的anki单词本

[2020-03-04 02:25] xfslove commented on #57
[代码在这儿](https://github.com/xfslove/alfred-google-translate/blob/f6dbadbcd2b7e55424b463730d3f42de1e93db48/index.js#L139)，快捷键是script json format默认的

[2020-03-04 02:27] xfslove commented on #47
if you have any questions, you could reopen it or raise a new issue.

[2020-03-04 02:27] #47 closed

[2020-03-04 02:34] Garlichead commented on #57
我其实想增加一个扩展 我按cmd+x之后 或者enter键之后 能执行我某一个代码块 我的代码快里面有实现同步anki接口的逻辑 但是我刚刚看了你这边使用快捷键默认处理之后 不是很理解

[2020-03-04 02:36] Garlichead commented on #57
其实我就是想增加一个监听 按住cmd+x或者其他快捷键 执行我的代码块逻辑 代码块里面可以拿到翻译的所有结果

[2020-03-04 09:17] xfslove commented on #57
如果要加一个你所说的功能，我目前想到的可能需要加一个类似这个workflow中发音的Bash Script。
<img width="660" alt="1" src="https://user-images.githubusercontent.com/7803346/75863696-dc47dd00-5e3b-11ea-809b-b939f719305b.png">

[2020-03-05 04:38] llity opened #58 "英文翻译中文不行"
说英文没有在配置文件中吗？谢谢

[2020-03-05 05:10] xfslove commented on #58
看下readme，需要先安装alfred-language-configuration

[2020-03-06 14:27] Garlichead commented on #57
Bash Script中可以不知道是否可以调用anki的接口 anki目前开放的接口有python版本的javascript版本

[2020-03-09 05:23] xfslove commented on #58
如果没问题我先把这个issue关闭了，有问题可以再打开

[2020-03-09 05:23] #58 closed

[2020-03-09 05:25] xfslove commented on #57
python应该可以，你可以试试

[2020-03-09 05:25] xfslove commented on #56
如果没有问题我就先把这个issue关闭了，有问题可以再开

[2020-03-09 05:25] #56 closed

[2020-03-16 06:39] xfslove opened #59 "Wanted: Where you find this workflow"
First of all, thanks sincerely for constantly using and supporting. I will try our best to keep it better.

The purpose of this issue:

let me know where you found this workflow, and I will publish this workflow to more places for more people to use.

and hope to attract more people to contribute (code, idea, etc.)

Thanks again for your participation!

[2020-03-16 06:42] xfslove commented on #59
首先，感谢大家一直的使用和支持，我也会尽我最大的努力一直维护

这个issue的目的：

请告诉我您从哪里发现的这个workflow，以便于我把这个workflow发表到更多的地方以便于更多的人使用

也希望能吸引更多的人来贡献（代码，想法，等等）

再次感谢您的耐心！

[2020-03-16 06:47] xfslove opened #60 "Wanted: Where you found this workflow"
First of all, thanks sincerely for constantly using and supporting. I will try our best to keep it better.

The purpose of this issue:

let me know where you found this workflow, and I will publish this workflow to more places for more people to use.

and hope to attract more people to contribute (code, idea, etc.)

Thanks again for your participation!

[2020-03-16 06:48] xfslove commented on #60
首先，感谢大家一直的使用和支持，我也会尽我最大的努力一直维护

这个issue的目的：

请告诉我您从哪里发现的这个workflow，以便于我把这个workflow发表到更多的地方以便于更多的人使用

也希望能吸引更多的人来贡献（代码，想法，等等）

再次感谢您的耐心！

[2020-03-30 14:05] vinschen opened #62 "提示 couldn't find the node binary"
如题

[2020-03-30 14:35] xfslove commented on #62
看下readme，需要安装[nodejs](https://nodejs.org)

[2020-04-07 04:58] xfslove commented on #62
如果没有问题这个issue就先关闭了，有问题的话可以再打开

[2020-04-07 04:58] #62 closed

[2020-04-10 06:19] xfslove commented on #57
这个issue我先关闭了，如果有好的实现欢迎PR!

[2020-04-10 06:19] #57 closed

[2020-04-13 07:28] hackroid commented on #60
Google Search rank 1.
But I think you may publish your workflow [here](https://www.packal.org/)

[2020-04-14 05:55] xfslove commented on #60
thanks.

[2020-05-08 02:52] AleksIralda opened #63 "Selection in MacOS don't work"
I try use hotkey for fast translate but not working, in log I just see
"Passing output '' to Script Filter". But Using "MacOS Clipboard Contents" Works!

Any can help with this?
Thnks

<img width="540" alt="Screen Shot 2020-05-07 at 21 46 13" src="https://user-images.githubusercontent.com/10256929/81365030-b2659d80-90ac-11ea-8ad3-a46bc17a81a8.png">

[2020-05-08 07:35] xfslove commented on #63
it maybe caused by your Alfred doesnt has the Accessibility privacy. please have a check.

[2020-05-08 07:52] AleksIralda commented on #63
I had already checked Alfred on Accessibility Privacy Menu, but I re-check again and now works! Thnks!!

[2020-05-09 01:21] #63 closed

[2020-05-14 16:48] dhd80 opened #64 "Workflow doesn't"
Hi, I tried this workflow and it's properly installed, but if I type for example 'tr car', I only see 'Detected your input language is Englisch, not one of your Configuration' and nothing happens. Thanks in advance and greetings

[2020-05-15 01:19] xfslove commented on #64
please see the [installation](https://github.com/xfslove/alfred-google-translate#installation), you need install alfred-language-configuration too.

[2020-05-15 15:34] entuccio opened #65 "How to translate multiple languages"
Love this workflow! It seems wonderful.

Can I translate a single word/sentence in a multiple languages without configure it again?

I would like, for example, to have this:

query=My name is Dan

results es:
Mi nombre es Dan  (Spanish)
Mio none è Dani (italiano)

Or alternatively to have two different workflows with two distinct configurations.
May I??

Thank you and compliments

[2020-05-16 03:55] Garlichead commented on #63
haha, If you find that it is still unavailable, you need to click to cancel and reselect it. Just tested.

[2020-05-16 03:58] Garlichead commented on #44
老铁 hh 关闭语音下载的处理 具体怎么做呢？

[2020-05-18 01:09] xfslove commented on #44
@Garlichead 看下README，环境变量里面voice设置为none

[2020-05-18 01:11] xfslove commented on #65
You could set the language pairs by [alfred-language-configuration](https://github.com/xfslove/alfred-language-configuration)

[2020-05-18 01:17] xfslove commented on #65
Sorry, Not supported for now. but could be a feature.

[2020-05-18 01:18] xfslove commented on #65
Sorry, Not supported for now. but could be a feature.

[2020-05-18 01:20] Garlichead commented on #44
1

On Mon, May 18, 2020 at 9:09 AM Iven <notifications@github.com> wrote:

[2020-05-21 03:10] xfslove commented on #64
I'll close this issue. you could reopen it or create a new one if you have any questions.

[2020-05-21 03:10] #64 closed

[2020-05-26 02:37] Jechin opened #66 "how to fix with "not one of your configurartion""
<img width="595" alt="image" src="https://user-images.githubusercontent.com/60766652/82855058-d2b2aa80-9f3c-11ea-8e7f-a183f0423802.png">

[2020-05-26 08:00] xfslove commented on #66
you need install the [alfred-language-configuration](https://github.com/xfslove/alfred-language-configuration).

[2020-05-26 08:00] #66 closed

[2020-05-31 03:11] Garlichead opened #67 "已添加自动保存每次翻译的单词同步到anki 解决了单词本同步的问题"
已添加自动保存每次翻译的单词同步到anki 解决了单词本同步的问题 但是目前查看翻译的速度我已配置如下
![image](https://user-images.githubusercontent.com/45086633/83343585-002d9880-a32f-11ea-890b-f251ee3a26f6.png)
那其实速度还是会有2s的卡顿 有时候更长 我的vpn速度很快没有延时 也没有下载声音
其实在体验中还有一个小问题 不知道能不能优化
![image](https://user-images.githubusercontent.com/45086633/83343620-64e8f300-a32f-11ea-8b7c-0f67fa1d06f1.png)
如果能优化一下全部显示 就很棒了 这个可能不好处理 和alfred相关

[2020-06-01 07:02] xfslove commented on #67
可以来个PR！

[2020-06-01 07:04] Garlichead commented on #67
好的 我这个是解决自己用anki的单词本 不是有道单词本 有道单词本需求的小伙伴记得注意⚠️一下

[2020-06-01 10:17] ferreirafabio opened #68 "Workflow incompatible"
When I download the workflow v2.0.8 and import it into my Alfred v3.8.6 on Mac OS 10.15, Alfred tells me "Workflow incompatible. Please update the latest version of Alfred." However, this workflow is supposed to work on Alfred 3 and 4.

I have the Powerpack, Node.js 8+, and the alfred-language-configuration installed.

[2020-06-02 01:07] xfslove commented on #68
You should Try install with npm by `npm install -g alfred-google-translate`

[2020-06-02 08:23] ferreirafabio commented on #68
That does give me an error too:

[2020-06-02 08:58] ferreirafabio commented on #68
How can I download the workflow manually for the correct version?

[2020-06-02 09:32] xfslove commented on #68
See the error log:

[code]
it caused by permission issue, please check the permission of this directory.

The release page does not have v3 workflows. I export v3 for you, you could have a try.

The alfred-google-translate and afred-language-configuration archive ([workflows.zip](https://github.com/xfslove/alfred-google-translate/files/4716154/workflows.zip)).
but I recommend you install with npm

[2020-06-05 06:40] jepek commented on #60
Got here through google search.

It works like a charm, great job 🎉

[2020-06-20 15:56] pbdco opened #69 "Translation not showing"
Done install from npm install -g alfred-google-translate and made trc en&es but when I write is keeps on "Translating.."

![image](https://user-images.githubusercontent.com/64397076/85206007-689be400-b2f5-11ea-97cf-6659fead7c26.png)

[2020-06-22 00:50] xfslove commented on #69
please make sure you can access the https://translate.google.com. or configure the environment variable set the domain you can access. like https://translate.google.cn.

[2020-06-22 14:29] pbdco commented on #69
set https://translate.google.com on value but not working either

[2020-06-23 01:21] xfslove commented on #69
Are you sure you can access the translate.google.com without any proxies?

[2020-06-23 12:47] pbdco commented on #69
Yes, I can access normally

[2020-06-24 01:00] xfslove commented on #69
its weird. please have try with translate.google.es.

[2020-06-24 12:56] pbdco commented on #69
Not working either. Tried install/uninstall several times manually and from terminal and nothing.

[2020-06-28 01:05] xfslove commented on #69
please open your alfred debug mode, and post it. I'll take a look.

[2020-06-28 17:11] pbdco commented on #69
[2:10:59.599] Google Translate[Script Filter] Queuing argument 'hola'

![image](https://user-images.githubusercontent.com/64397076/85953803-48999f80-b949-11ea-9a90-152d6a370fb3.png)

[2020-06-29 02:09] xfslove commented on #69
It seems like network issue.

could you please replace the workflow's translate.js file with [translate.js.zip](https://github.com/xfslove/alfred-google-translate/files/4843403/translate.js.zip) (I handled the timeout error). and post the logging again.

the translate.js file location: ~/Application\ Support/Alfred/Alfred.alfredpreferences/workflows/alfred-google-translate/translate.js

[2020-06-30 16:07] pbdco commented on #69
I opened Alfred.alfredpreferences >show contents but I don't have such folder.

![image](https://user-images.githubusercontent.com/64397076/86149624-9d1c5680-bad2-11ea-862c-19a8a56f3056.png)

![image](https://user-images.githubusercontent.com/64397076/86149546-78c07a00-bad2-11ea-9eed-b7192d876ad1.png)

[2020-07-01 08:01] xfslove commented on #69
you could do like this:
<img width="1101" alt="1" src="https://user-images.githubusercontent.com/7803346/86218931-0de76f80-bbb4-11ea-95f2-1d0c8e5f41ca.png">

[2020-07-05 12:31] pbdco commented on #69
Hi, this is working now. It was my internet connection issue not related to alfred or your workflow. My appologies, thank you for your support and your great workflow. Regards

[2020-07-05 12:31] #69 closed

[2020-07-08 01:55] xfslove commented on #68
Hi, @ferreirafabio if you could working with the workflow, I'll close this issue. you could reopen it or raise a new one when you have any questions.

[2020-07-08 01:55] #68 closed

[2020-07-27 09:26] zhangpeiran commented on #36
大佬，首先你的插件相当的不错，但问题是关于这个自动检测功能到底怎么用？我还是没弄懂，只能config出互译，比如中英，那怎么才能比如日语翻译成中文，韩语翻译成中文。如果我配置成中英互译，我输入日文，他就会提示检测到language 为 japanese ，not one of your configuration。是我配置的问题么 还是说没有这个功能。config好像也没有重置功能啊。谢谢！

[2020-07-27 09:34] xfslove commented on #36
看下readme，安装alfred-language-configuration即可。

[2020-07-27 09:45] zhangpeiran commented on #36
谢谢你的回复，alfred-language-configuration我已经安装了，但是只有比如互译的配置方案：trc zh-CN & ja  ，你的usage中并没有提到如何配置自动检测语言。自动检测语言应当怎么配置。。。。，如果你的意思是不配置的初始设定能够实现自动检测语言，那我现在已经设置了互译配置（trc zh-CN & ja），并不知道重置配置的方法。。并且那如何设置targe语言？

[2020-07-28 01:56] xfslove commented on #36
@zhangpeiran trc readme也有介绍，`trc zh-CN&ja`配置就是自动检测，`trc zh-CN>ja`或者`trc ja>zh-CN`是就是指定source和target。

[2020-07-28 02:21] zhangpeiran commented on #36
谢谢！看来是我理解错了，我以为自动检测是能够检测出任意语言（自动识别出何种语言然后翻译，比如日语，韩语，英语。。。。）然后翻译。现在的意思是比如本来设置的是日语跟中文的互译，那要翻译英语需要重新trc配置成英语跟中文互译，是这个意思吧。

[2020-07-29 07:47] xfslove commented on #36
对的，目前是这样的 🙂

[2020-07-29 13:43] zhangpeiran commented on #36
明白了 谢谢！

[2020-08-15 00:29] Garlichead opened #70 "刚刚调试了一下 我看到这里有一个步骤耗时是最多的 有10s"
![image](https://user-images.githubusercontent.com/45086633/90301251-5ee7c480-ded1-11ea-99ba-e944f86838a2.png)
确认一直受到翻译慢的问题困扰～

[2020-08-15 00:57] Garlichead commented on #70
![image](https://user-images.githubusercontent.com/45086633/90301912-39f55080-ded5-11ea-8d45-1ce550f41c4e.png)
所以我还是在代码中更改了网络设置 这样我的翻译就只有1s中时间了

[2020-08-15 00:59] Garlichead commented on #70
使用 https://translate.google.com 站点 不使用 cn站点

[2020-08-15 02:47] xfslove commented on #70
做个PR吧。注意一下看加了代理会不会影响没有代理软件的伙伴使用后OK。

[2020-08-19 12:47] Garlichead commented on #70
老哥 我现在还是很慢 原因被我发现了 这里面使用node请求google翻译 翻译请求并没有被我的vpn surge进行代理 所以一直导致网络翻译不出来 之前可以翻译 是因为我surge开了增强模式 但是增强模式我不能一直开 和公司内网vpn冲突了

[2020-08-19 13:21] Garlichead commented on #70
老铁 这个翻译耽误我太多时间了 想放弃使用了 我现在surge死活不能代理这个tcp的node请求
但是你的cn域名访问也太慢了 根本无法接受le

[2020-08-20 01:01] xfslove commented on #70
需要socks-proxy-agent。我空了看下
relate: #44

[2020-08-20 01:01] #70 closed

[2020-08-20 01:03] Garlichead commented on #70
您好 socks-proxy-agent 这个怎么配置？ 我是使用surge
进行代理我的网络

[2020-08-20 01:05] Garlichead commented on #70
我的surge现在只能代理http协议 如果要代理node的tcp 需要开启增强模式 但是增强模式和我们公司内网的vpn冲突了

[2020-08-20 01:10] Garlichead commented on #70
https://www.npmjs.com/package/socks-proxy-agent <https://www.npmjs.com/package/socks-proxy-agent>
这个站点这样修改代码吗

[2020-08-20 01:32] Garlichead commented on #70
老铁 你这个node 使用的是什么请求方式 是否可以设置请求走代理 我查了一下资料 node请求可以设置走proxy代理 配置代理服务器就好了

[2020-08-25 03:36] xfslove commented on #44
加了socks_proxy，如果延迟长可以试试切换域名+代理

[2020-08-25 03:39] Garlichead commented on #44
上次是也使用了代理 正常我开我的surge 就可以翻译了 不要开增强模式
现在关键问题来了 在公司办公需要开公司的原生VPN
开了公司的VPN（easyconnect）我发现设置socket proxy 业务进行翻译了
只开surge的情况下 socket proxy 是可以翻译的

[2020-08-25 03:44] xfslove commented on #44
你这种情况VPN也需要设置代理，不然不无法访问google.com，比如我的VPN像这样
<img width="652" alt="1" src="https://user-images.githubusercontent.com/7803346/91120437-3c6f5b80-e6c8-11ea-8ab4-b7183a3328df.png">

[2020-08-25 03:49] Garlichead commented on #44
你这里的proxy.pac 应该怎么处理呢？ 这里的url 是填写我本地的surge代理服务器吗

[2020-08-25 03:50] xfslove commented on #53
Remark: I'm not sure which field of response body represents the voice available or not.

[2020-08-25 03:54] xfslove commented on #44
我填的是本地PAC监听的地址，你填你surge监听地址就可。

[2020-08-25 03:55] xfslove commented on #44
对的

[2020-08-25 03:58] Garlichead commented on #44
Proxy的地址吧？我surge分为http和proxy俩个代理地址 proxy地址 我这边没有pac文件

[2020-08-25 04:54] xfslove commented on #44
surge我没用过，如果是sock代理上面选SOCKS proxy，如果是http代理上面选Web proxy.

[2020-08-25 05:09] Garlichead commented on #44
web的代理我有选择哦

[2020-08-29 02:18] Garlichead commented on #67
老铁 这个PR 我准备有时间整理下代码放上去
我本地关于翻译插件的使用终于被我找到原因了 因为之前一直开了公司的vpn(easyconnect)和surge
所以我的翻译alfred一直无法使用 折腾了很久被我发现一个方式
就是我首先使用alfred任意翻译一个单词之后 我再开启公司vpn 这样我在同时开启surge和公司vpn的时候也可以进行翻译
我想大概是我第一次使用proxy代理翻译被surge记住之后 后续的通道都是走这个
如果第一次不翻译 直接surge和公司vpn打开 那第一次翻译是无法进行网络请求的

[2020-09-01 01:48] luoluoluo22 commented on #50
我按照题主的办法尝试，没有找到 alfred3，重启也没有成功，后来发现是我的安装包问题，我安装的是 alfred4.1.1（1171）汉化版，其中的功能有缺陷，就是不能从 macos 中获取内容。重新下载英文原版就可以了。推荐下载链接: https://pan.baidu.com/s/1DTX1U_FA-xgXEHtUzKZhwQ  密码: 1234

[2020-09-04 02:02] Garlichead opened #71 "早上翻译突然提示429？？ 是不是验证接口出问题了"
![image](https://user-images.githubusercontent.com/45086633/92191213-ba382180-ee95-11ea-86ce-3d92f3fb232d.png)
突然出现的 无网络问题

[2020-09-04 02:47] xfslove commented on #71
这个问题一直都没有很好得解决，https://github.com/xfslove/alfred-google-translate/issues/45

Garlichead <notifications@github.com> 于2020年9月4日周五 上午10:02写道：

[2020-09-04 02:54] Garlichead commented on #71
今天第一次遇到 使用这么久了 第一次遇到

[2020-09-04 05:09] Garlichead commented on #45
所以能尽量规避这种问题产生吗？

[2020-09-04 06:28] xfslove commented on #71
relate #45

[2020-09-04 06:28] #71 closed

[2020-09-04 06:35] Garlichead commented on #45
我更换了ip代理地址能规避这个问题

[2020-09-04 09:10] xfslove commented on #45
你这样一说，确实新加的环境配置`socks_proxy`可以缓解这个问题。

[2020-09-04 09:12] Garlichead commented on #45
嗯 我遇到之后 我切换下我的代理ip就可以继续使用了

[2020-09-24 09:07] thehallow opened #72 "dialogflow"
Hej!
i am trying to connect dialogflow with google translate Api but it does not work:

const translate = new Translate();
translate('Tu es incroyable',{to:'en'}).then( response=>{
            agent.add(response.text);
        }).catch(error=>{
            agent.add("error");
        });
i am using dialogflow inline editor. is there any way to do it? thank you for helping

[2020-09-27 04:58] xfslove commented on #72
please raise an issue at https://github.com/vitalets/google-translate-api.

[2020-09-27 04:58] #72 closed

[2020-10-08 04:48] 8ku commented on #63
It worked, thank you!!

[2020-11-04 11:29] Aracki opened #73 "Workflow stopped working after the new update"
I'm always seeing the following thing:
![image](https://user-images.githubusercontent.com/6129986/98106173-5cc25000-1e99-11eb-8531-c51641d24de6.png)

Even after I run the `npm install` command, it's the same and it doesn't work at all. Any ideas...?

[2020-11-05 01:04] xfslove commented on #73
which version installed on your local now. ` npm ls -g alfred-google-translate`

[2020-11-05 08:51] Aracki commented on #73
`└── alfred-google-translate@2.0.9`

[2020-11-05 09:13] xfslove commented on #73
it's weird, could you have a try to reinstall that manually? `npm uninstall -g alfred-google-translate` and then `npm install -g alfred-google-translate`.

[2020-11-05 14:49] rmGFW commented on #45
可是代理的数量是有限的呀，还是很快会被用完的

[2020-11-05 15:24] Aracki commented on #73
Ok, now I don't see the "Update available..." message, but it still doesn't translate a thing.

[2020-11-06 01:01] xfslove commented on #73
<img width="855" alt="1" src="https://user-images.githubusercontent.com/7803346/98313195-45f13a00-200e-11eb-92d1-23959654cc55.png">
please toggle the debug mode. and post the snapshot of Logging.
and please make sure you can access the translate.google.com first.

[2020-11-06 07:35] Aracki commented on #73
Yes, I can access translate.google.com

Logs:
[code]

[2020-11-09 02:56] xfslove commented on #73
it's seem like the workflow got the wrong Alfy version.

Did you just installed the alfy with global mode before?  if so you should update the Alfy to 0.9.1 or uninstall it with global mode.

[2020-11-09 07:54] Aracki commented on #73
Sorry, but how can I check that? I'm pretty sure I haven't touch `alfy` or any other node module.

[2020-11-09 10:03] xfslove commented on #73
the version of alfy is correct, the 'json-parse-better-errors' module is dependent on the 'read-pkg' old version that the alfy dependent.  but I don't know why your local module try to find it, it's expected to find the 'json-parse-even-better-errors'.

could you grep the `parse-json` please?

[2020-11-10 10:33] Aracki commented on #73
[code]

I'm getting this one ^^. Thanks for trying to solve this @xfslove, but if it's my local npm issue, maybe I can reinstall all the node packages in order to make workflow to work 🤷

[2020-11-11 01:43] xfslove commented on #73
thanks for your support. 🙂

I saw the snippet you post, the dependencies is confusion and I can't locate the problem. but it's really look like a package conflict issue.

maybe need you spend more time with me to locate it, sorry for that.

and as you said Maybe reinstall your local packages is the most simple way, you could have a try.

[2020-11-11 01:44] xfslove commented on #45
确实是，我也说这只是缓解而已🙂

[2020-11-21 12:09] SuKaiFei opened #74 "请问支持截屏翻译吗"

[2020-11-23 01:30] xfslove commented on #74
不支持哦 🙂

[2020-11-25 07:22] #74 closed

[2020-12-02 21:14] Aracki commented on #73
I've reinstalled node/npm and all of it's packages. Now, the plugin works again! Thanks @xfslove

[2020-12-02 21:14] #73 closed

[2020-12-07 01:26] xfslove opened #75 "The NEW 'batchexecute' RPC API"

[2020-12-21 08:51] xfslove commented on #75
[Related](https://github.com/vitalets/google-translate-api/issues/60)

[2020-12-28 09:55] dingcang opened #76 "don't support Alfred4 with error."
[code]
i can't found com.runningwithcrayons.Alfred-Preferences-3.plist in folder /Users/didi/Library/Preferences/. what's wrong

[2020-12-29 01:18] xfslove commented on #76
see the logs. `Error: Permission denied`.

it's permission issue. you could try to install with `sudo` or something else.

[2020-12-30 11:17] dingcang commented on #76
i have try to added `sudo` before open this issue, don`t work  too

[2020-12-31 10:05] xfslove commented on #76
actually, it's not the workflow issue.

I'm not sure if it caused by the workflow detected your Alfred version is Alfred 3, so the workflow try to found the `Alfred-Preferences-3.plist` file.

is it possible to try reinstall the Aflred 4? or check your ~/Library directories if it remains Alfred 3 files.

[2021-01-04 07:28] #76 closed

[2021-01-05 01:20] xfslove commented on #45
Related #75

[2021-01-05 02:01] dingcang commented on #45
我也遇到这个问题了，cmd+l把错误信息复制出来的链接，我直接访问是会返回一个json.txt的。我看了txt内容应该也是正常的。很奇怪啊。请教作者查询google的时候是需要账号信息的吗

[2021-01-06 01:00] xfslove commented on #45
@dingcang  是需要一个token。这个token有一定的限制。比如同一个IP一段时间能访问多少次之类的。

[2021-01-06 01:06] xfslove commented on #45
新的batchexecute API可能就没有这个问题，等空了更新一下

[2021-01-08 11:00] udiNur commented on #53
there is any update?

[2021-01-11 01:06] xfslove commented on #53
Sorry, Not yet.

[2021-01-27 20:43] Tweoss commented on #60
Google search as well

[2021-01-30 06:15] hermitcai opened #77 "今天我下载了一个最新的版本 覆盖了我之前的版本 不知道什么原因直接不能翻译了"

[2021-01-30 06:15] hermitcai commented on #77
![image](https://user-images.githubusercontent.com/45086633/106349042-a0482100-6305-11eb-8d05-14baf1458d37.png)

[2021-02-01 00:56] xfslove commented on #77
麻烦能截一下错误日志

[2021-02-01 00:59] hermitcai commented on #77
一直卡着不动了 没有错误日志 了 其实我一直的痛点是非常慢的问题 2秒我都可以接受 我的现在一直都是10多秒

[2021-02-01 02:14] xfslove commented on #77
那应该是网络问题
1. 看一下你的socks代理正常不
2. 再一个可能代理服务器访问不了translate.google.cn, 换成com试试

[2021-02-01 02:17] hermitcai commented on #77
On Mon, Feb 1, 2021 at 10:14 AM Iven <notifications@github.com> wrote:

都试过了 就是很慢 这俩个我都检查

[2021-02-01 06:06] xfslove commented on #77
你意思是现在你的问题是翻译结果能出现，不过出现的很慢是吗

[2021-02-01 06:11] hermitcai commented on #77
情况是这样的
我之前用我自己改好的版本能用 但是特别慢 15秒才能出现结果
我为了解决慢的问题 我直接改用了最新的版本 也按照要求设置了 翻译不出结果
我的vpn很快 1s不到就能翻译出结果

[2021-02-02 01:12] xfslove commented on #77
一直卡住应该是网络问题，网络问题不调试的话确实比较难定位

你能试试在terminal里面能访问到translate.google.com吗

这样`curl --socks5 127.0.0.1:7890 https://translate.google.com`

[2021-02-02 13:45] hermitcai commented on #77
可以很快响应一大串

[2021-02-02 13:47] hermitcai commented on #77
我看到控制台异常了
[21:46:17.724] Logging Started...
[21:46:25.803] Google Translate[Hotkey <alfredpreferences:workflows%3Eworkflow%3Euser.workflow.E1DE072B-CD08-41F5-8E97-6A285240F831%3EC111234F-195C-486B-BB1D-04203C339ADD>] Processing complete
[21:46:25.812] Google Translate[Hotkey <alfredpreferences:workflows%3Eworkflow%3Euser.workflow.E1DE072B-CD08-41F5-8E97-6A285240F831%3EC111234F-195C-486B-BB1D-04203

[2021-02-03 03:23] xfslove commented on #77
你这个问题应该和 #73 一样，包冲突了

[2021-02-03 03:24] hermitcai commented on #77
只有删除重装吗
On Wed, Feb 3, 2021 at 11:23 AM Iven <notifications@github.com> wrote:

[2021-02-04 01:31] xfslove commented on #77
只是说重装起来比较简单，找包冲突的话比较复杂，需要看看你安装的npm包里哪些依赖了`parse-json`

[2021-02-04 01:34] hermitcai commented on #77
只要重装npm就好了吗

[2021-02-04 01:36] xfslove commented on #77
npm不需要重装，重装一下你安装过的包

[2021-02-04 01:40] hermitcai commented on #77
是我进去把node_modules删除 然后重新安装一次吗
是哪些包？
可以给我下命令吗

[2021-02-04 01:42] xfslove commented on #77
`npm list -g`，都uninstall 再 install一下就好，然后我看你workflow好像是下载的，你也在alfred里面删掉，用npm安装一下

[2021-02-04 01:45] hermitcai commented on #77
之后再运行什么命令 npm install吗 我这些操作都是直接在控制台默认窗口下就可以 还是要去到插件的目录 npm怎么安装alfred？

[2021-02-04 02:06] xfslove commented on #77
<img width="294" alt="image" src="https://user-images.githubusercontent.com/7803346/106834357-40b88f80-66d0-11eb-985a-853fe7dd3ae0.png">

你看这个，我这个npm安装了5个包，我就把除了npm之外的包卸载掉`npm uninstall -g alfred-google-translate`, `npm uninstall -g alfred-language-configuration`, ...

然后我再重新装一遍``npm install -g alfred-google-translate`, `npm install -g alfred-language-configration`, ...

<img width="424" alt="imag

[2021-02-04 02:08] hermitcai commented on #77
1 我按照这个思路执行下看看

[2021-02-04 04:11] hermitcai commented on #77
![image](https://user-images.githubusercontent.com/45086633/106843921-1f609f00-66e2-11eb-9249-1592ef7808ba.png)
遇到了这个异常

[2021-02-04 04:51] hermitcai commented on #77
https://github.com/xfslove/alfred-google-translate/issues/13
我的alfred的版本是4 但是检测出来是3
如果让我重新安装alfred我在alfred里面记录的标签就都没有了
为什么会alfred是3呢

[2021-02-04 04:57] hermitcai commented on #77
![image](https://user-images.githubusercontent.com/45086633/106846766-7bc6bd00-66e8-11eb-998f-2120a02bff09.png)
我本地没有3版本的文件
是否可以通过命令指定为4

[2021-02-04 06:21] hermitcai commented on #77
现在竟然出现了识别我的alfred版本问题 识别为3
我不用命令安装 手动安装是不行的
https://github.com/xfslove/alfred-google-translate/issues/31 <https://github.com/xfslove/alfred-google-translate/issues/31>
这里是已经支持alfred4了吗 还是说要想办法去处理

[2021-02-04 09:43] xfslove commented on #77
是支持4的，你全局搜索一下Alfred，看下是不是有Alfred3的缓存`sudo find / -iname "*alfred*"`

[2021-02-11 01:43] hermitcai commented on #77
![image](https://user-images.githubusercontent.com/45086633/107594714-8d124b00-6c4d-11eb-9351-24544b664838.png)
我在我的全局搜索过了 确实没有这个3 我反复看过俩次

[2021-02-23 08:39] wupuyuan opened #78 "我使用时总是提示not one of your configuration"
如题：
not one of your configuration
代码中是判断didYouMean那里，返回的总是false。
是安装后，需要配置什么吗？
form language 是auto
我的alfred是4.3.2

[2021-02-23 08:57] xfslove commented on #78
需要安装alfred-language-configration

[2021-02-23 09:07] hermitcai commented on #77
确实没有3的任何东西 但是就是总是识别到3的文件 出现那个异常

[2021-02-23 09:26] hermitcai commented on #77
找不到另外一个语言配置的包

[2021-02-23 09:30] hermitcai commented on #77
手动安装语言包可以了 但是速度还是慢了

[2021-02-23 09:41] hermitcai commented on #77
确实还是很慢 需要5-8秒

[2021-02-24 02:07] xfslove commented on #77
👍

慢的问题确实存在，不过最近忙着别的事确实没时间去研究，等看啥时候有空了来看看

[2021-02-24 02:09] hermitcai commented on #77
嗯嗯 等待你的好消息啊 其实网络这些都很快的 是不是google的api调用很慢 具体慢在哪里 很奇怪 如果调用api慢 我们是不是可以考虑换成其他的api调用方 因为我也试用了有道的一个alfred翻译插件 是真的贼快

[2021-02-24 09:51] hermitcai commented on #77
哎

长翻译出不来 不知道是啥原因 哎 一波三折

[2021-02-26 07:26] hermitcai opened #79 "翻译确实比较慢 我截图了一段耗时日志 帮忙看看"
![image](https://user-images.githubusercontent.com/45086633/109269067-ea5ded00-7846-11eb-8e79-77dc8abf3f11.png)

[2021-02-26 08:13] hermitcai commented on #79
![image](https://user-images.githubusercontent.com/45086633/109273709-825ed500-784d-11eb-9038-0d41484a47f3.png)
我抓包了一下我的网络请求 我请求到获取到数据 很快 就是拿到api请求的相应后 拖延了10秒才显示内容

[2021-02-26 08:18] hermitcai commented on #79
![image](https://user-images.githubusercontent.com/45086633/109274263-4415e580-784e-11eb-9d96-398e1c33d2bf.png)
拿到数据之后 做了什么 耽误这么久

[2021-02-26 08:26] hermitcai commented on #79
![image](https://user-images.githubusercontent.com/45086633/109275224-69efba00-784f-11eb-9205-a012c18aa1da.png)
把这俩段封装的数据注释了 比较快

[2021-02-26 08:30] hermitcai commented on #79
![image](https://user-images.githubusercontent.com/45086633/109275535-d7034f80-784f-11eb-9ed0-7225c5db1321.png)
可以了 我暂时把这俩段注释了  这俩段代码拖延了近8秒 我现在查看日志也是2秒多了

[2021-02-26 09:15] hermitcai commented on #79
又开始变慢了 不知道为什么 但是可以肯定就是网络访问到数据 很快 后面是显示慢

[2021-02-26 09:21] hermitcai commented on #79
![image](https://user-images.githubusercontent.com/45086633/109281110-dc17cd00-7856-11eb-9b71-26689af923be.png)
现在只有一种情况
![image](https://user-images.githubusercontent.com/45086633/109281148-e934bc00-7856-11eb-8061-55ec304f51bb.png)
就是我把items的push代码全部注释了 items为空的时候
速度就很稳定 一直在2秒 如果我push一点数据进行 就不稳定 刚开始看2秒 切换了窗口再看就是10秒

[2021-02-26 09:31] hermitcai commented on #79
![image](https://user-images.githubusercontent.com/45086633/109282447-7e848000-7858-11eb-86a1-7184117aca10.png)
按住shifti一直显示这个

[2021-03-04 02:09] xfslove commented on #78
我先把这个issue关闭了，如果有问题可以这个issue重新开

[2021-03-04 02:09] #78 closed

[2021-03-21 12:46] kathy330 opened #80 "突然间response code 429"
参数设置
![image](https://user-images.githubusercontent.com/39319724/111905337-3c3d1000-8a9f-11eb-8917-106abcb45f76.png)
突然之间tr word就变成了response code 429， 这要怎么解决？
![image](https://user-images.githubusercontent.com/39319724/111905383-7ad2ca80-8a9f-11eb-918f-89a34f940b1f.png)

[2021-03-22 02:20] xfslove commented on #80
这个只能试着换代理试试 #45

[2021-04-08 11:47] xfslove commented on #80
这个issue先关闭了，后续相关问题解决方法会同步在置顶issue

[2021-04-08 11:47] #80 closed

[2021-04-29 03:40] lancetian65 opened #81 "Hotkey feature can not become effective"
the content don‘t pass to the workflow
system:macOS Catalina 10.15.7
alfred version:4.3.3

[2021-04-29 03:56] #81 closed

[2021-05-31 18:43] notqyrest opened #82 "When you use 'auto>selected language', you can't copy the text."

[2021-05-31 18:45] notqyrest commented on #82
<img width="756" alt="Screenshot 2021-05-31 at 20 45 35" src="https://user-images.githubusercontent.com/85131180/120231175-2727ee80-c251-11eb-9882-5e5f3e74da51.png">

[2021-05-31 18:47] notqyrest commented on #82
It looks like this. The other options also don't appear, not very useful, because i learn french, german en english.

[2021-07-05 01:02] EchoZhaoH opened #83 "Alfred 3 安装后显示不可用"
![image](https://user-images.githubusercontent.com/23427655/124404978-c3bd3f00-dd6f-11eb-9d55-438b6ce8aeee.png)

![image](https://user-images.githubusercontent.com/23427655/124404967-b86a1380-dd6f-11eb-9579-0fc76027c8b0.png)

[2021-07-07 01:52] xfslove commented on #83
你alfred什么版本，需要alfred版本3或4

[2021-07-08 06:22] EchoZhaoH commented on #83
@xfslove 我的 Alfred 版本是 3 的最新版

[2021-07-08 06:22] EchoZhaoH commented on #83
@xfslove 上面的截图上有

[2021-07-14 08:35] EchoZhaoH commented on #83
还有人解决吗 @xfslove

[2021-07-16 06:06] xfslove commented on #83
不好意思，最近太忙了，可能回复不及时，你电脑上有安装node吗

[2021-07-20 02:38] EchoZhaoH commented on #83
@xfslove 嗯嗯 有的

[2021-07-23 07:49] reddratred opened #84 "Alfred 4 安裝後無法使用"
哈嘍，您好
安裝後，嘗試鍵入一些文字，但都顯示如下的狀況：

[15:36:14.470] Google Translate[Script Filter] Queuing argument '測試'
[15:36:14.570] Google Translate[Script Filter] Script with argv '測試' finished
[15:36:14.579] Google Translate[Script Filter] {"items":[{"title": "Couldn't find the `node` binary", "subtitle": "Symlink it to `/usr/local/bin`"}]}

[2021-07-24 05:59] xfslove commented on #83
你是通过命令行安装的是吧，如果是命令行安装的是只能是alfred4，如果是alfred3可以下载包

[2021-07-24 06:00] xfslove commented on #84
you need install nodejs on your Mac

[2021-07-24 06:19] reddratred commented on #84
安裝之後可以使用了，感謝～
但是我現在有另外一個問題是目前系統只支援中文簡體字，這設定可否增加繁體呢？感謝

顯示的狀況如下：
[14:16:23.342] Google Translate[Script Filter] Queuing argument '你'
[14:16:24.173] Google Translate[Script Filter] Script with argv '你' finished
[14:16:24.179] Google Translate[Script Filter] {
	"items": [
		{
			"title": "you",
			"subtitle": "Detected the input language is Chinese Simplified, not one of your configuration."
		}
	]
}

[2021-07-26 00:33] EchoZhaoH commented on #83
@xfslove 哦哦 好的 谢谢

[2021-07-26 00:37] #83 closed

[2021-09-29 06:40] xfslove commented on #84
可用用zh-TW

[2021-10-21 06:37] chunipo opened #85 "就从前几个月开始无法翻译了，看日志只有输入，没有任何响应"
![image](https://user-images.githubusercontent.com/20971295/138224262-d3283485-bb4a-4b20-81f2-e64a3cc1eba5.png)

输入没有任何反应～～～

[2021-11-12 03:18] xfslove commented on #85
是不是域名配置不是translate.google.cn

[2021-11-14 04:55] nerd010 commented on #85
配置了 `translate.google.cn` 也是无法使用

[2021-11-25 02:06] zjtdev commented on #85
确实不好用了

[2021-11-29 09:42] flyingrx commented on #85
![image](https://user-images.githubusercontent.com/17722981/143844139-7a84a83c-00ea-4850-8179-43d07c4e32e4.png)
处理response是不是有点问题

[2021-12-03 11:20] nickpodratz opened #86 "Google asking for cookies"
Hi!

First off, I appreciate this plugin a lot and find it very useful.

Just one thing doesn't work for me and that is the preview.
It asks me again and again for confirmation for the cookies of the translate website and Alfred does not permit confirming in the embedded window. See the screenshot that follows:
<img width="1146" alt="Bildschirmfoto 2021-12-03 um 12 19 26" src="https://user-images.

[2021-12-25 02:22] iT-Boyer commented on #85
问题还在，有解决办法吗？或者好用的替代品？

找到了一款有道翻译：https://github.com/wensonsmith/YoudaoTranslator

[2021-12-27 02:25] chunipo commented on #85
是不是需要php的环境？

[2022-01-02 15:55] merlyncheung commented on #85
你的电脑是不是有连接VPN或者其他代理？ 我这边测试了一下，这个问题应该是因为代理或者VPN的IP是多人共享的缘故。这个workflow无法用的时候，去Google时会发现是需要reCAPTCHA人机认证的。类似的情况也有在一个chrome插件Saladict（沙拉查词）里的Google translate发生。目测是因为IP多人共享，且这个workflow是不可能自动完成人机认证的，所以就无法弹出翻译结果啦 ：）

[2022-01-04 02:42] chunipo commented on #85
对啊，但是以前没有这个情况哦，就那段时间开始出现

[2022-01-19 07:30] nissenyeh opened #87 "繁體中文被檢測為簡體中文(Input Chinese traditional but detected with Chinese Simplified)"
我輸入繁體中文，但是他卻出現 Detected the input language is Chinese Simplified, not one of your configuration

I Inputed  Chinese traditional but  detected be Chinese Simplified

<img width="778" alt="截圖 2022-01-19 下午3 30 08" src="https://user-images.githubusercontent.com/34571901/150084312-59e74dba-f63f-4a88-8e1a-52c5857be6a9.png">

[2022-01-19 07:45] nissenyeh commented on #45
很需要這個，拜託惹

[2022-01-26 11:27] tbrodbeck opened #88 "Feature Suggestion: Copy the text out instead of synthesis"
Would be great if you could copy the text out of the workflow - I actually do not need speech synthesis :)
But great extension btw!

[2022-01-30 07:32] Zenthes commented on #85
遇到了同样问题；配置了 `translate.google.cn` ，且关闭了 vpn，也无法翻译

[2022-03-20 10:01] ToniCzyrnik commented on #88
Hey @tbrodbeck!

You can copy the highlighted result with cmd + c. :-)

[2022-03-24 22:45] tbrodbeck commented on #88
Okay huh thats correct. Thanks for letting me know. When I select the second item in the list by moving down once (without using the cmd + 2 hotkey) then I can copy it without synthesis! Thanks!!

As a feature suggestion: I think it would be more straightforward if the translation would already be selected in the first place, so you do not need the extra step (and people might not get as confused

[2022-04-28 19:59] RobErskine commented on #60
Found this on [AlfredWorkflows.store](https://www.alfredworkflows.store/workflows/google-translate)!

[2022-05-03 03:02] yang-wang11 commented on #87
I hit this issue too, the reason is this document is not so clear to tell us how to use it. below is my solution, and it works for me.
before you use this workflow, you need to install another workflow as a precondition.
[code]
more detail you may get from [here](https://github.com/xfslove/alfred-language-configuration)

[2022-05-03 03:03] yang-wang11 commented on #84
link https://github.com/xfslove/alfred-google-translate/issues/87

[2022-05-13 07:07] damonflycloud commented on #85
不是无法翻译,而是要隔了几分钟翻译才出来,好慢好慢,已经配置代理了 也一样

[2022-05-13 07:08] damonflycloud commented on #85
请问作者有没有办法解决呢 如果速度快的话确实是个好东西

[2022-09-27 12:12] Jancd commented on #50
你这提取码也不对撒....

[2022-10-10 15:00] xit7 opened #89 "TRC not remembering settings"
Every day I get asked the same question, to configure via trc. I do this successfully e.g. "trc en>de" and all works fine. But not later than the next day, the same configuration needs to be done again.

Can you assist? Why is trc not remembering those settings?

Thanks! And great work by the way :)

[2022-11-09 02:37] yarub123 opened #90 "Is there a way to hit enter or option enter to make it paste the translation?"
Hello, thank you for this amazing work you did and on coding this @xfslove. You've done a great job so far. I am curious if you know how to allow it to paste to the frontmost or active app?

For example I translate a word, I want to be able to hit ⌥+⌅ (Alt/Option + Enter) to be able to paste the translated text into the active application.....

Hope that makes sense.

谢谢你
Thank you :)

Edit: addin

[2022-11-09 03:00] yarub123 commented on #90
<img width="595" alt="image" src="https://user-images.githubusercontent.com/84487964/200727132-45373279-e749-4eba-a8d5-42f50c1fef2c.png">
<img width="663" alt="image" src="https://user-images.githubusercontent.com/84487964/200727149-64ed928c-db9a-42fa-894c-d8797a78c0da.png">